/* made all text one font family */
* {
    font-family: sans-serif;
}
/* made it so they do not stack on one other
    made it so that they have the same amount of space on all sides
    made the font larger 
    made it so the header element has a margin of 50px from that main element */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: larger;
    margin-bottom: 50px;
}
/* made the text on the highest score button are plain
    the background to light blue
    the edges are round and have a shadow */
header button {
    text-decoration: none;
    background-color: lightblue;
    border-radius: 10px ;
    box-shadow: 2px 2px 2px 2px;
}
/* made it so the main element have a solid black line on the top and bottom */
main {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* made it so if the screen size is <524 the text on the body element gets larger */
@media screen and  (max-width: 524px){
    body {
        font-size: larger;
    }
    
}